
/***************************** Main -Productos *****************************/

.title-house {
  margin: 1rem 0 2rem 0;
  
}

.img-house-sold {
  width: 100%;

  border-radius: 5px;
}

.house {
  border: solid 1px rgb(84, 84, 84);
  border-radius: 20px;
  margin-bottom: 1rem;
  max-width: 320px;
  overflow: hidden;
  width: 100%;
 
  overflow: hidden;
  position: relative;
  
}

.row h2 {
  margin: 2rem 2rem;
  text-align: center;
}

.house-sold {
  max-width: ;
}


/********************** Parrafos de cama y casa que stan abajo de la imagen del producto */


.text-house {
  position: relative;
  width: 100%;
}

.data-2 {
  position: absolute;
  
  z-index: 1;
  background-color: rgba(93, 93, 93, 0.67);
  width: 50%;
  left: 50%;
  color: #FFF;
  padding: 5px 0;
}


.data-1 {
    
    
    z-index: 1;
    left: 0;
    background-color: rgba(93, 93, 93, 0.67);
    width: 50%;
    color: #FFF;
    padding: 5px 0;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

