<!DOCTYPE html>
<html lang="en">

<%-include ("./partials/head", {cssSheets: "terrenos", title: "Terrenos"}) %>

<body>
  <!-- Header -->
  <header>
    <%- include('./partials/navBar') %>
   


  </header>
  <!-- Main -->
  <main>
    <div class="encabezado">
        <p>10 resultados de búsqueda</p>
        <h2 class="titulo-encabezado">TERRENOS</h2>

    </div>
 <section class="contenedor-main">
    <div class="filter">
        <div class=""></div>
        <div class="">
            <div class="accordion">
                <div class="accordion-item">
                    <button class="accordion-button">Caracteristicas</button>
                    <div class="accordion-content">
                        <a href="">100 m<sup>2</sup></a><br>
                        <a href="">200 m<sup>2</sup></a><br>
                        <a href="">300 hectareas</a><br>
                        <a href="">400 hectareas</a><br>
                        <a href="">500 hectareas</a><br>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <article>
        <div class="container text-center">
           
              <div class="row d-flex align-items-center">
                <!-- House -->
                <div class="col-sm-4 col-md-4 col-lg-4">
                  <div class="house">
                    <img class="img-house-sold" src="/imgs/imagenes/imagen-1.png" alt="">
                    <div class="mid d-flex">
                      <p class="data-1">180m<sup>2</sup><i class="fa-solid fa-house"></i></p>
                      <p class="data-2">2<i class="fa-solid fa-bed"></i></p>
                      </div>
                    <p class="text-house">Casa en venta en Florida Mitre/este, Florida</p>
                    <p class="text-house"><b>Hipólito Yrigoyen al 2900</b></p>
                  </div>
                </div>
                <!-- House -->
                <div class="col-sm-4 col-md-4 col-lg-4">
                  <div class="house">
                    <img class="img-house-sold" src="/imgs/imagenes/imagen-1.png" alt="">
                    <div class="mid d-flex">
                      <p class="data-1">180m<sup>2</sup><i class="fa-solid fa-house"></i></p>
                      <p class="data-2">2<i class="fa-solid fa-bed"></i></p>
                      </div>
                    <p class="text-house">Casa en venta en Florida Mitre/este, Florida</p>
                    <p class="text-house"><b>Hipólito Yrigoyen al 2900</b></p>
                  </div>
                </div>
                <!-- house -->
                <div class="col-sm-4 col-md-4 col-lg-4">
                  <div class="house">
                    <img class="img-house-sold" src="/imgs/imagenes/imagen-1.png" alt="">
                    <div class="mid d-flex">
                      <p class="data-1">180m<sup>2</sup><i class="fa-solid fa-house"></i></p>
                      <p class="data-2">2<i class="fa-solid fa-bed"></i></p>
                      </div>
                    <p class="text-house">Casa en venta en Florida Mitre/este, Florida</p>
                    <p class="text-house"><b>Hipólito Yrigoyen al 2900</b></p>
                  </div>
                </div>
                <!-- House -->
                <div class="col-sm-4 col-md-4 col-lg-4">
                  <div class="house">
                    <img class="img-house-sold" src="/imgs/imagenes/imagen-1.png" alt="">
                    <div class="mid d-flex">
                      <p class="data-1">180m<sup>2</sup><i class="fa-solid fa-house"></i></p>
                      <p class="data-2">2<i class="fa-solid fa-bed"></i></p>
                      </div>
                    <p class="text-house">Casa en venta en Florida Mitre/este, Florida</p>
                    <p class="text-house"><b>Hipólito Yrigoyen al 2900</b></p>
                  </div>
                </div>
                <!-- House -->
                <div class="col-sm-4 col-md-4 col-lg-4">
                  <div class="house">
                    <img class="img-house-sold" src="/imgs/imagenes/imagen-1.png" alt="">
                    <div class="mid d-flex">
                      <p class="data-1">180m<sup>2</sup><i class="fa-solid fa-house"></i></p>
                      <p class="data-2">2<i class="fa-solid fa-bed"></i></p>
                      </div>
                    <p class="text-house">Casa en venta en Florida Mitre/este, Florida</p>
                    <p class="text-house"><b>Hipólito Yrigoyen al 2900</b></p>
                  </div>
                </div>
              </div>
          </div>
    </article>

 </section>

  </main>

   <!-- Footer -->
  <%- include('./partials/footer') %>

  <script src="../js/script.js"></script>
</body>

</html>