form {
    border: solid 1px rgb(24, 24, 23);
 /*    border-top-right-radius:  10%;
    border-top-left-radius:  10%; */
    border-radius: 10%;
    background-color: #f3f3f3;
    padding: 20px  50px;
    margin: 5rem 10rem; 
    box-shadow: inset 2;

}


input {
    margin-bottom: 1rem;
}


button {
    padding: 5px 10px;
    background-color: rgb(75, 140, 155);
    color: #f3f3f3;
    border: 0;
    margin-left: 3.5rem;
    
}


button:hover {
    background-color: rgb(96, 164, 164);
}