
/**************************Footer  */


footer {
    background-color: #333;
    width: 100%;
   
    color: #ddd;
    text-align: center;
    margin-bottom: 0;
  }
  
  .logo-footer {
    width: 200px;
    
  }